* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

#message {
  display: block;
  width: 370px;
  height: 180px;
  margin: auto;
  margin-top: 150px;
  border: 1px solid #494949;
  background-color: #d8d8d8;
  border-radius: 2px;
  text-align: center;
}

#message h2 {
  margin-top: 10px;
}

#message label {
  display: block;
  margin-top: 20px;
}

#message input {
  display: block;
  border: none;
  border-bottom: 1px solid grey;
  height: 40px;
  width: 100%;
  background-color: #d8d8d8;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 22px;
  text-align: center;
  outline: none;
}

#message input:focus {
  border: none;
  border-bottom: 8px solid grey;
}